
* {
    margin-top: 10;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

#gameContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 75%;
    height: 100%;
    transform: translate(-50%, -50%);
    text-align: center;
    /* Center-aligns the timerDisplay text */
}

#canvas1 {
    position: center;
    background-color: rgb(5, 5, 5);
    border: 3px solid rgb(131, 47, 47);
    max-width: 100%;
    max-height: 95%;
    background-color: rgb(5, 5, 5);
    display: block;
    margin: 10px auto 0;
    margin-top: 40px;
    flex-grow: 1; /* Ensure the canvas expands to fill available space */
}

#timerDisplay {
    font-size: 24px;
    font-weight: bold;
    color: rgb(196, 193, 193);
    position: absolute;
    top: 1px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    /* Center the display horizontally */
    z-index: 1; /* Ensure it's above other elements */
}

.player-display-container {
    color:bisque;
    margin-bottom: 1px;
    width: 210px;
}

.health-display { /* This is the health bar container*/
    color:bisque;
    width: 200px;
    /* Example width */
    height: 20px;
    /* Example height */
    margin-bottom: 10px;
}

.hunger-display { /*Hunger level*/
    color:bisque;
    width: 100px;
    /* Example width */
    height: 20px;
    /* Example height */
    margin-bottom: 1px;
}

.health-bar { /* This is the actual health bar */
    height: 10px;
    width: 150%;
    /* Initial width. Will be dynamically updated. */
    text-align: center;
    color: rgb(8, 8, 8);
    margin-bottom: 0px;
}

#hovered-player-info {
    color: rgb(201, 199, 199);
    position: absolute;
    right: 5px;
    top: 40px;
    
    /* Adjust as needed */
    
    /* Adjust as needed */
    background:transparent;
    padding: 10px;
    display: none;
    /* Initially hidden */
    z-index: 10;
    /* Ensure it's above other elements */
}